{% comment %}
Icons row
{% endcomment %}

{% assign background = section.settings.color_icons_bg %}
{% assign color = section.settings.color_icons_text %}
{% assign link = section.settings.link %}
{% assign buttonPrimaryText = section.settings.cta_color %}
{% assign textColor = section.settings.text_color %}
{% assign buttonPrimaryBackground = section.settings.cta_bg %}
{% assign buttonPrimaryBorder = section.settings.cta_border | default: 'transparent' %}

{% if section.blocks.size > 0 %}
<div data-section-id="{{ section.id }} no-margin-vertical" data-section-type="icons-row">
  <div class="icons-row--background pad-sm no-margin-vertical" style="color: {{ color }}; background-color: {{ background }};">
    <div class="container flex-center-vertical">
      <div class="row-title text-center">
        {% assign row-title = section.settings.row-title %}
        {% assign subtitle = section.settings.subtitle %}
        {% assign subtext = section.settings.subtext %}
        {% assign sub-cta = section.settings.sub-cta %}
        {% assign text_over_icons = section.settings.text-over-icons %}


        {% if row-title != blank %}
            <h1 style="font-size: {{ section.settings.title_font_size }}px;" class="icons-row__title icons-row-title" >{{ row-title }}</h1>
        {% endif %}
        {% if subtitle != blank %}
          <div class="flex-center">
            <h4 style="font-size: {{ section.settings.subtitle_font_size }}px;" class="icons-row__title icons-row-subtitle">{{ subtitle }}</h4>
          </div>
        {% endif %}
        {% if section.settings.show_long_text %}
          {% if text_over_icons != blank %}
              <p class="icons-row__text_over_icons" style="font-size: {{ section.settings.text_over_icons_font_size }}px;">{{ text_over_icons }}</p>
          {% endif %}
        {% endif %}

      </div>
      <div class="row row-lg icon-row-container">
        <div class="icons-row-wrapper">
          {% for block in section.blocks %}
            {%- assign image = block.settings.icon-new -%}
            {% assign title = block.settings.title %}
            {% assign content = block.settings.content %}
            {% assign icon_words = block.settings.icon-new | split: ' ' %}
            {%- capture icon -%}{%- for word in icon_words -%}{%- unless forloop.index == 1 -%}-{%- endunless -%}{{ word | lowercase | capitalize }}{%- endfor -%}{%- endcapture -%}

            <div class="icons-row__item {% if block.settings.show_borders %}icon-borders{% endif %}">
              <img style="height: {{ section.settings.icon_height }}px" src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">

              {% if title != blank %}
              <p class="icons-row__title" style="font-size: {{ section.settings.block_title_font_size }}px;">{{ title }}</p>
              {% endif %}

              {% if content != blank %}
              <p class="icons-row__content" style="font-size: {{ section.settings.content_font_size }}px; font-weight: 400;">{{ content }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div id="subpart">

      {% if subtext != blank %}
        <div id="subtext" class="text-center">
          <h3 class="icons-row__title">{{ subtext }}</h3>
        </div>
        {% endif %}

      {% if section.settings.show_button %}
        <div class="flex-center">
          <a href="{{ link }}" class="button--primary button" style="color: {{ buttonPrimaryText }}; background-color: {{ buttonPrimaryBackground }}; border-color: {{ buttonPrimaryBorder }}">{{ sub-cta }}</a>
        </div>
      {% endif %}

      </div>

    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Icons row bis",
  "max_blocks": 6,
  "class": "icons-row-bis",
  "settings": [
    {
      "type": "color",
      "id": "color_icons_bg",
      "label": "Background color",
      "default": "#fafafa"
    },
    {
      "type": "color",
      "id": "color_icons_text",
      "label": "Text color",
      "default": "#333"
    },
    {
      "type": "text",
      "id": "row-title",
      "label": "Title",
      "default": "Row - title "
    },
    {
        "type":      "range",
        "id":        "title_font_size",
        "min":       16,
        "max":        64,
        "step":       1,
        "unit":       "px",
        "label":     "Title Font size",
        "default":   16
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sous-titre",
      "default": "Sous-titrez ici"
    },
    {
        "type":      "range",
        "id":        "subtitle_font_size",
        "min":       6,
        "max":        32,
        "step":       1,
        "unit":       "px",
        "label":     "Subtitle Font size",
        "default":   12
    },
     {
      "type": "checkbox",
      "id": "show_long_text",
      "label": "Show long text"
    },
    {
      "type": "textarea",
      "id": "text-over-icons",
      "label": "Long texte au dessus des icones",
      "default": "Modular is a powerful Shopify theme that will set you apart from the rest with Mosaic, Gallery, and Slideshow sections."
    },
    {
        "type":      "range",
        "id":        "text_over_icons_font_size",
        "min":       8,
        "max":        64,
        "step":       1,
        "unit":       "px",
        "label":     "Text over icons Font size",
        "default":   16
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext",
      "default": "Subtext"
    },
    {
        "type":      "range",
        "id":        "icon_height",
        "min":       16,
        "max":        168,
        "step":       2,
        "unit":       "px",
        "label":     "Size of the icons",
        "default":   28
    },
     {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show button"
    },
     {
      "type": "text",
      "id": "sub-cta",
      "label": "subtext button",
      "default": "En savoir plus"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Primary button colors"
    },
    {
      "type": "color",
      "id": "cta_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "cta_bg",
      "label": "Background",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "cta_border",
      "label": "Border",
      "default": "transparent"
    },
    {
        "type":      "range",
        "id":        "block_title_font_size",
        "min":       6,
        "max":        32,
        "step":       1,
        "unit":       "px",
        "label":     "Title Font size",
        "default":   16
    },
        {
            "type":      "range",
            "id":        "content_font_size",
            "min":       6,
            "max":        32,
            "step":       1,
            "unit":       "px",
            "label":     "Content Font size",
            "default":   8
        }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon-new",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Feature"
        },
         {
          "type": "checkbox",
          "id": "title_strong",
          "label": "Titre en gras"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Modular is a powerful Shopify theme that will set you apart from the rest with Mosaic, Gallery, and Slideshow sections."
        },
        {
         "type": "checkbox",
         "id": "show_borders",
         "label": "Show borders"
       }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icons Row Custom2",
      "category": "Text",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
